/**
 * Chart styles
 */

$metro-color: map-get($theme, "yellow-dark");
$place-color: map-get($theme, "blue-dark");

.chart {
  //@include aspect-ratio(4, 3);
  width: 100%;
  height: 15em;
  //padding: 1em 3em 2em 1em;

  .tick {
    font-size: 0.725em;
    font-weight: 200;
    stroke-width: 2;
  }

  line,
  .tick line {
    stroke: map-get($grays, "light");
    stroke-dasharray: 2;
    stroke-width: 2;
  }

  .tick text {
    fill: map-get($grays, "light");
  }

  .baseline {
    stroke: map-get($grays, "dark");
    stroke-width: 2;
    stroke-dasharray: 0;
  }

  .tick.tick-0 line {
    stroke-dasharray: 0;
  }

  .axis-label {
    text-anchor: middle;
    font-size: 0.85em;
  }

  .axis-y .axis-label {
    text-anchor: middle;
  }

  .chart-column {
    fill: $metro-color;
  }

  &.chart-histogram .chart-column {
    stroke-width: 1;
    stroke: $color-white;
  }

  .chart-line {
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: $place-color;

    &.chart-line-1 {
      stroke: $metro-color;
    }
  }
}

.metro-index-chart {
  .chart {
    height: 7.5em;
  }

  .chart-column.highlight {
    fill: $place-color;
  }
}
