.place-details {
  .data-copy span {
    display: inline-block;
    line-height: 1.1em;
    padding-bottom: 0.01em;
    border-bottom: 1px solid $color-text;

    & > strong {
      line-height: 1.1em;
    }
  }

  .market-hed {
    padding-top: 1em;
  }

  .about-hed {
    padding-top: 3em;
  }
}
