/**
 * Project specific styling.
 */

// Bug in strib styles
h4 {
  font-size: 1.5em;
}

.placeholder {
  background-color: map-get($grays, "lighter");
  min-height: 3em;
}

.placeholder-chart {
  padding: 4em 2em;
  text-align: center;
}

.aggregate-charts {
  margin-bottom: 3em;
}

.data-copy {
  @include font-styles("benton-sans");
}

.bottom-space-extra {
  margin-bottom: 3em;
}

.no-data-note {
  padding: 2em;
  font-size: 0.85em;
  font-style: italic;
}

.article-footer {
  margin-bottom: 4em;
}

.share-placeholder {
  margin-bottom: 2em;
}
