.rank-bar {
  height: 2em;
  display: flex;
  margin-bottom: 0.5em;
}

.rank-bar-wrapper {
  padding-top: 3em;
}

.ranked-place {
  flex: 1;
  height: 2em;
  border-right: 0.5px solid $color-white;
  background-color: lighten(desaturate($placeColor, 30), 30);
  cursor: pointer;
  position: relative;

  .tooltip-pole {
    position: absolute;
    top: -1.75em;
    pointer-events: none;
  }

  .ranked-place-tooltip {
    opacity: 0;
    transition: opacity 0.333s;
    position: absolute;
    top: 0;
    font-size: 0.85em;
    width: 17em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.far-left-side {
    .ranked-place-tooltip {
      text-align: left;
      left: 0;
      right: auto;
      transform: translate(0, 0);
    }
  }

  &.far-right-side {
    .ranked-place-tooltip {
      text-align: right;
      right: 0;
      left: auto;
      transform: translate(0, 0);
      margin-right: -0.65em;
    }
  }

  &:hover {
    background-color: map-get($grays, "dark");
    width: 5em;

    .ranked-place-tooltip {
      opacity: 1;
      transition: opacity 0.333s;
    }
  }
}

.highlighted-place {
  background-color: $placeColor;
  flex-grow: 2;

  .ranked-place-tooltip {
    opacity: 1;
    transition: opacity 0.333s;
    font-weight: bold;
  }

  &:hover {
    flex-grow: 2;
  }
}

.rank-bar:hover {
  .highlighted-place .ranked-place-tooltip {
    opacity: 0;
  }

  .highlighted-place:hover .ranked-place-tooltip {
    opacity: 1;
  }
}

.rank-nav-label {
  text-align: center;
}

.rank-nav-buttons {
  text-align: center;

  a {
    display: inline-block;
    padding: 0.5em 0.1em 0;
    margin: 0 1em;
    //text-transform: uppercase;
    font-size: 0.85em;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    line-height: 1em;

    i,
    span {
      vertical-align: middle;
      line-height: 1em;
    }

    i {
      margin-top: -0.085em;
    }

    &:hover {
      text-decoration: none;
      font-weight: bold;
      //border-bottom-color: map-get($theme, "blue-dark");
    }
  }
}
