.place-search-form {
  margin-bottom: 1em;

  .form-compact {
    background-color: map-get($grays, "lighter");
    padding: 1em;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .form-item-input {
    width: 100%;
  }
}

.no-place-note {
  min-height: 15em;
}
