
<div class="strib-styles ssa ssb ssc">
  <div class="container-md">
    <div class="hero">
      <h1>Housing index</h1>

      <p class="lead container-sm">Here's a lead-in paragraph to let you know what about to happen.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://example.com/author">John Doe</a>
          and
          <a rel="author" href="http://example.com/author">Jane Doh</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2017-07-30T16:00:00">July 30, 2017 &mdash; 4:00pm</time>
      </div>
    </div>
  </div>

  <div class="container-copy">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec magna lectus. Nulla facilisi. Suspendisse tempus arcu volutpat magna finibus accumsan. Aenean convallis lacus at urna semper sodales. Suspendisse rutrum convallis feugiat. Fusce mauris elit, euismod quis fermentum vitae, hendrerit eu enim. In aliquam lectus eros, finibus finibus ipsum elementum sit amet. Phasellus egestas non odio eu commodo. Proin ac felis nec diam faucibus tempor vitae ac metus. Maecenas in odio et ipsum fermentum rutrum. Fusce hendrerit dolor id velit accumsan condimentum. Nullam vestibulum, magna nec mattis maximus, nulla elit porttitor libero, ut maximus leo elit a dolor. Nulla vehicula lobortis mauris, at auctor odio placerat vitae. Nulla facilisi.</p>

    <p>Nam ac diam quis nisl feugiat vehicula. Fusce non porttitor est, tincidunt ornare magna. Duis porta neque eget ex imperdiet, vel hendrerit ex vehicula. Fusce ac tempus ante. Sed suscipit fermentum nisi non finibus. Duis eu cursus urna, non ornare dolor. Sed consectetur ipsum ut risus vehicula, sit amet tincidunt magna rhoncus. Sed feugiat suscipit est id ullamcorper. Donec tincidunt augue eu est porttitor congue. Cras ut venenatis lacus, sed iaculis nibh. Mauris porttitor eros mattis maximus tempor.</p>
  </div>

  <div class="container-lg aggregate-charts">
    <div class="row">
      <div class="col col-50">
        <figure>
          <div class="placeholder placeholder-chart">Aggregate chart</div>
          <figcaption>Caption...</figcaption>
        </figure>
      </div>

      <div class="col col-50">
        <figure>
          <div class="placeholder placeholder-chart">Aggregate chart</div>
          <figcaption>Caption...</figcaption>
        </figure>
      </div>

      <div class="col col-50">
        <figure>
          <div class="placeholder placeholder-chart">Aggregate chart</div>
          <figcaption>Caption...</figcaption>
        </figure>
      </div>

      <div class="col col-50">
        <figure>
          <div class="placeholder placeholder-chart">Aggregate chart</div>
          <figcaption>Caption...</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="place-search-form container-copy">
    <h3>Search places</h3>

    <form class="form-compact">
      <div class="form-item form-item-input">
        <label class="sr-only" for="place-search">Search places</label>

        <select ref:placeSelect  id="place-search" bind:value="placeSearch"  placeholder="Search for a place in the metro area" aria-describedby="place-search-help">
          <option value="">Select place</option>

          {#each placesByName as p}
            <option value="{ p.id }">{ p.name }</option>
          {/each}
        </select>

        <small id="place-search-help">
          Start typing to find places in the Twin Cities metro area.
        </small>
      </div>

      <!-- this seems to automatically populate -- perhaps just the browser I'm using -- but if it's auto, do we need a Search button? -->
      <div class="form-item">
        <button type="submit">Search</button>
      </div>
    <form>
  </div>

  <div class="container-lg">
    {#if place}
      <Place
        {...place}
        places="{ index.areas }"
        stats="{ index.stats }"
        metro="{ metro }"
        ranked="{ ranked }" />
    {:else}
      <!-- Do we need this extra bit of instruction? There's a lot of "search"y bits -->
      <p class="no-place-note">Search above for a city or neighborhood in the Twin Cities.</p>
    {/if}
  </div>
</div>

<script>
  /* global $ */
  import Place from "./shared/_place.svelte.html";
  import { find, orderBy, isObject } from "lodash";

  export default {
    components: {
      Place
    },

    oncreate() {
      // Selectize
      // if ($ && $.fn.selectize) {
      //   $(this.refs.placeSelect).selectize({
      //     create: false,
      //     maxOptions: 1800,
      //     maxItems: 1,
      //     closeAfterSelect: true,
      //     onChange: value => {
      //       this.set({ placeSearch: value });
      //     }
      //   });
      // }
    },

    methods: {
      setPlace(id, event) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        if (!this.get().index) {
          return;
        }

        id = isObject(id) ? id.id : id;
        let p = find(this.get().index.areas, { id });
        if (p) {
          this.set({
            placeSearch: p.id
          });
        }
      }
    },

    computed: {
      metro({ index }) {
        console.log(find(index.areas, { geoid2: "2733460" }));
        return find(index.areas, { geoid2: "2733460" });
      },

      placesByName({ index }) {
        return orderBy(index.areas, ["name"], ["asc"]);
      },

      ranked({ index }) {
        let r = orderBy(
          index.areas
            .filter(a => {
              return a.rank;
            })
            .map(a => {
              return {
                id: a.id,
                name: a.name,
                rank: a.rank,
                index: a.index
              };
            }),
          ["rank"],
          ["desc"]
        ).map((a, ai) => {
          a.i = ai;
          return a;
        });

        return r;
      },

      place({ index, placeSearch }) {
        if (!placeSearch) {
          return;
        }

        console.log(find(index.areas, { id: placeSearch }));
        return find(index.areas, { id: placeSearch });
      }
    },

    data() {
      return {
        placeSearch: "Bloomington"
      };
    }
  };
</script>



