<svelte:window on:popstate="handlePopState(event)" />

<div class="strib-styles ssa ssb ssc">
  <div class="container-md">
    <div class="hero">
      <h1>Ranking the hottest housing markets in the Twin Cities</h1>

      <!-- <p class="lead container-sm">Here's a lead-in paragraph to let you know what about to happen.</p> -->

      <div class="byline">
        <address>By
          <a rel="author" href="http://startribune.com/jim-buchta/10644536/">Jim Buchta</a>,
          <a rel="author" href="http://startribune.com/maryjo-webster/303594441/">MaryJo Webster</a>
          and
          <a rel="author" href="http://startribune.com/maryjo-webster/440928273/">Alan Palazzolo</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-01-22T10:00:00">January 22, 2019</time>
      </div>

      <div class="share-placeholder">
        <!-- share -->
      </div>
    </div>
  </div>

  <div class="container-copy bottom-space-extra">
    <p>With sales down and housing listings up, the <a href="http://startribune.com/home-sales-dipped-in-the-twin-cities-but-prices-reached-a-record-high-in-2018/504704902/">housing market</a> in the Twin Cities during 2018 was less frothy than it was the year before. Unless, of course, you were a first-time buyer or a downsizing Baby Boomer. Entry-level buyers outpaced sellers, and construction costs soared, pushing sale prices across the metro to a record high.</p>

    <p>To find out which parts of the Twin Cities metro were most feverish, the Star Tribune compiled its third annual Hot Housing Index.  The index ranks communities based on where houses sold more quickly than the year before, prices posted the biggest gains and sellers got closest to their asking price.</p>

    <p>The trends were clear: Markets that fared the best were inner-ring suburbs like Crystal, Richfield and St. Anthony where houses are modest and close to the central cities. A few once-sleepy exurbs also stood out, including Otsego and Dayton where land is cheap and housing construction was unusually robust.</p>

    <p>The Hot Housing Index combines four key housing metrics from year-end data provided by the Minneapolis Area Realtors: change in the median price per square foot; median days on market; percent of list price received by seller and share of all sales that were foreclosures or short sales. We ranked each community on the four metrics, then added the rankings together to get an index score.</p>

    <p>Use the search tool below to see rankings for the 108 cities included in the Hot Housing Index, plus historical real estate sales data for those cities and an additional 62 cities in the 13-county metro area that didn't have enough sales last year to be included in the index. Historical data is also available for Minneapolis and St. Paul neighborhoods.</p>
  </div>

  <div class="container-lg aggregate-charts">
    <div class="row">
      <div class="col col-100 col-md-50">
        <Line
          figureClass="metro-days-market"
          title="Homes sold faster"
          xLabel="Year"
          yLabel="Median days on market"
          yMin="0"
          xTickFormat="{ d => d ? d.toString().replace(/20/, '\'') : '-' }"
          xTickValues="{ defaultXAxisYear }"
          hideLegend="{ true }"
          interactive="{ false }"
          colors="{ [metroColor] }"
          dataConfig="{{
            xs: {
              'Metro': 'Year'
            },
            columns: [
              ['Year'].concat(metroTotals.medianDaysOnMarket.map(d => d.year)),
              ['Metro'].concat(metroTotals.medianDaysOnMarket.map(d => d.data))
            ]
          }}"
        >The median number of days it took to sell a house in the 13-county metro.  Data not available prior to 2007.</Line>
      </div>

      <div class="col col-100 col-md-50">
        <Line
          figureClass="metro-new-construction"
          title="Home building is on the rebound"
          xLabel="Year"
          yLabel="Percent new construction"
          yMin="0"
          hideLegend="{ true }"
          interactive="{ false }"
          colors="{ [metroColor] }"
          yTickFormat="{ (d) => d || d === 0 ? `${Math.round(d * 100).toLocaleString()}%` : '-' }"
          xTickFormat="{ d => d ? d.toString().replace(/20/, '\'') : '-' }"
          xTickValues="{ defaultXAxisYear }"
          dataConfig="{{
            xs: {
              'Metro': 'Year'
            },
            columns: [
              ['Year'].concat(metroTotals.perNewConstruction.map(d => d.year)),
              ['Metro'].concat(metroTotals.perNewConstruction.map(d => d.data))
            ]
          }}"
        >Percentage of newly built homes that were sold through the Multiple Listing Service in the 13-county metro.  Some builders sell directly to buyers, so those sales aren't reported to the MLS</Line>
      </div>
    </div>

    <div class="row">
      <div class="col col-100 col-md-50">
        <Line
          figureClass="metro-sale-price"
          title="Prices reached new highs"
          xLabel="Year"
          yLabel="Median sale price (in thousands)"
          yMin="0"
          hideLegend="{ true }"
          interactive="{ false }"
          colors="{ [metroColor] }"
          yTickFormat="{ (d) => d || d === 0 ? `$${Math.round(d / 1000).toLocaleString()}k` : '-' }"
          xTickFormat="{ d => d ? d.toString().replace(/20/, '\'') : '-' }"
          xTickValues="{ defaultXAxisYear }"
          dataConfig="{{
            xs: {
              'Metro': 'Year'
            },
            columns: [
              ['Year'].concat(metroTotals.medianSalePrice.map(d => d.year)),
              ['Metro'].concat(metroTotals.medianSalePrice.map(d => d.data))
            ]
          }}"
        >Annual median sale price for homes in the 13-county metro.</Line>
      </div>

      <div class="col col-100 col-md-50">
        <Line
          figureClass="metro-inventory"
          title="Fewer options for buyers"
          xLabel="Year"
          yLabel="Inventory (in thousands)"
          yMin="0"
          hideLegend="{ true }"
          interactive="{ false }"
          colors="{ [metroColor] }"
          yTickFormat="{ (d) => d || d === 0 ? `${Math.round(d / 1000).toLocaleString()}k` : '-' }"
          xTickFormat="{ d => d ? d.toString().replace(/20/, '\'') : '-' }"
          xTickValues="{ defaultXAxisYear }"
          dataConfig="{{
            xs: {
              'Metro': 'Year'
            },
            columns: [
              ['Year'].concat(metroTotals.inventoryPerYear.map(d => d.year)),
              ['Metro'].concat(metroTotals.inventoryPerYear.map(d => d.data))
            ]
          }}"
        >Number of homes available for sale at the end of each year in the 13-county metro.</Line>
      </div>
    </div>
  </div>

  <div class="place-search-form container-copy">
    <h3>Search for your community or neighborhood</h3>

    <form class="form-compact">
      <div class="form-item form-item-input">
        <label class="sr-only" for="place-search">Search for your community or neighborhood</label>

        <select ref:placeSelect  id="place-search" bind:value="placeSearch"  placeholder="Search for a place in the metro area" aria-describedby="place-search-help">
          <option value="">Select place</option>

          {#each placesByName as p}
            {#if p.geoid2 !== metroGeoId}
              <option value="{ p.id }">{ p.name }</option>
            {/if}
          {/each}
        </select>

        <small id="place-search-help">
          Type the name of your city in the 13-county metro area or your neighborhood in <a href="#place-86">Minneapolis</a> or <a href="#place-154">St. Paul</a> to see real estate trends going back to 2003. For cities with <strong>75 sales or more</strong> last year, you can also see how it ranked in the Star Tribune's Hot Housing Index.
        </small>
      </div>
    <form>
  </div>

  <div class="container-lg">
    <RankNav
      ranked="{ ranked }"
      highlight="{ placeSearch }"
    />
  </div>

  {#if place}
    <Place
      {...place}
      places="{ index.areas }"
      stats="{ index.stats }"
      metro="{ metro }"
      placeColor="{ placeColor }"
      metroColor="{ metroColor }"
      defaultXAxisYear="{ defaultXAxisYear }" />
  {:else}

    <div class="container-copy">
      <p class="no-place-note"></p>
    </div>
  {/if}

  <div class="container-lg">
    <footer class="article-footer">
      <h1>Credits</h1>

      <ul class="credits">
        <li>Reporting by <a rel="author" href="http://startribune.com/jim-buchta/10644536/">Jim Buchta</a></li>
        <li>Data analysis by <a rel="author" href="http://startribune.com/maryjo-webster/303594441/">MaryJo Webster</a></li>
        <li>Design and development by <a rel="author" href="http://startribune.com/maryjo-webster/440928273/">Alan Palazzolo</a></li>
      </ul>

      <h1>Sources</h1>

      <p>American Community Survey 2017 and <a href="https://www.mplsrealtor.com/" target="_blank" rel="noopener">Minneapolis Area Association of Realtors</a> (MAAR) and RMLS of MN, Inc.  Data deemed reliable but not guaranteed.  Not to be reproduced without MAAR's consent.</p>

      <h1>Footnotes</h1>

      <p>The Star Tribune Hot Housing index includes cities from the 13-county metro area that had 75 or more closed sales last year. This is a change from prior years when the Star Tribune only included cities with 100 sales or more.</p>

      <h1>Methodology</h1>

      <p>Numerical rankings were assigned to each community on four metrics, then those rankings were added together to create the final index score. We included cities in the 13-county metro area that had 75 or more sales last year. Here's how the rankings worked for the four metrics:</p>

      <ol>
        <li>We calculated the percentage change between the median price per square foot last year and the average across the previous four years. The change between those two numbers was then ranked. A ranking of 1 represented the lowest change.</li>

        <li>For median days on market, a score of 1 represented the most days on market, while the city with the shortest days on market got the highest score.</li>

        <li>For the percent of original list price received, the community with the lowest percentage got a score of 1. The highest-scoring communities tended to have an average percentage of list price received at or above 99 percent.</li>

        <li>The index also factored in the percentage of distressed sales (foreclosures and short sales). In this case, the community received a ranking of 1 if it had the highest percentage of distressed sales. Communities with low percentages of distressed sales got the highest scores.</li>
      </ol>
    </footer>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114906116-1"></script>
</div>

<script>
  /* global $ */
  import Place from "./shared/_place.svelte.html";
  import Line from "./shared/_chart-line.svelte.html";
  import RankNav from "./shared/_rank-nav.svelte.html";
  import { find, orderBy, isObject } from "lodash";
  import { gaPage, gaEvent } from "../app/shared/utils.js";

  export default {
    components: {
      Place,
      Line,
      RankNav
    },

    oncreate() {
      // Get current page title
      this.set({ defaultTitle: document.title });

      // Hack back in share
      if (this.get().attachShare) {
        this.get().attachShare();
      }

      // Selectize
      if ($ && $.fn.selectize) {
        let $s = $(this.refs.placeSelect).selectize({
          create: false,
          maxOptions: 500,
          maxItems: 1,
          closeAfterSelect: true,
          onChange: value => {
            this.set({ placeSearch: value ? parseInt(value, 10) : undefined });
          }
        });
        this.set({ placeSelectize: $s[0].selectize });
      }

      // Load hash
      if (window.location.hash) {
        this.readHash(window.location.hash);
      }
    },

    onupdate({ changed, current, previous }) {
      if (
        changed.placeSearch &&
        (current.placeSearch || current.placeSearch === 0)
      ) {
        // Selectize doesn't keep the connection
        let s = this.get().placeSelectize;
        if (s) {
          s.setValue(current.placeSearch);
        }

        // Update URL
        this.linkPlace();

        // Gtag event
        gaEvent({
          action: "select",
          category: "select_place",
          label: this.get().place.name,
          value: this.get().place.id
        });
      }
    },

    methods: {
      setPlace(id, event) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        if (!this.get().index) {
          return;
        }

        id = isObject(id) ? id.id : id;
        let p = find(this.get().index.areas, { id });
        if (p) {
          this.set({
            placeSearch: p.id
          });
        }
      },

      // Update url with hash
      linkPlace() {
        let { placeSearch: p, place } = this.get();
        let currentHash = window.location.hash;
        if (!p && p !== 0) {
          return;
        }

        // Don't change if the same
        if (currentHash.indexOf(`-${p}`) === -1) {
          // Update history
          window.history.pushState(null, null, `#place-${encodeURIComponent(p)}`);
        }

        // For some reason this should come after
        document.title = `${place.name} | ${this.get().defaultTitle}`;

        // Update gtag
        gaPage();
      },

      // Read search from url hash
      readHash(hash) {
        hash = decodeURIComponent(hash);
        let idReg = /#?place-(.*)/i;

        if (hash && hash.match && hash.match(idReg)) {
          let m = hash.match(idReg)[1];
          let id = m ? parseInt(m, 10) : undefined;
          this.setPlace(id);
        }
      },

      // Handle pop state change
      handlePopState(e) {
        if (e && e.target && e.target.location && e.target.location.hash) {
          this.readHash(e.target.location.hash);
        }
      }
    },

    computed: {
      metro({ index, metroGeoId }) {
        return find(index.areas, { geoid2: metroGeoId });
      },

      placesByName({ index }) {
        return orderBy(index.areas, ["name"], ["asc"]);
      },

      ranked({ index }) {
        let r = orderBy(
          index.areas
            .filter(a => {
              return a.rank;
            })
            .map(a => {
              return {
                id: a.id,
                name: a.name,
                rank: a.rank,
                index: a.index
              };
            }),
          ["rank"],
          ["asc"]
        ).map((a, ai) => {
          a.i = ai;
          return a;
        });

        return r;
      },

      place({ index, placeSearch }) {
        if (!placeSearch) {
          return;
        }

        return find(index.areas, { id: placeSearch });
      }
    },

    data() {
      return {
        // Metro geo id
        metroGeoId: "2733460",
        // Default view
        placeSearch: 25,
        // https://striblab.github.io/strib-styles/pages/content/colors.html
        placeColor: "#1d78af",
        metroColor: "#ccc900",
        // Default years for axis
        defaultXAxisYear: [2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018]
      };
    }
  };
</script>



