
<g class="axis y-axis" transform="translate(-{ opts.label ? $padding.left / 2 : $padding.left }, 0)">
	{#each $yScale.ticks(opts.ticks || opts.tickNumber || 5) as tick, i}
		<g class="tick tick-{tick}" transform="translate(0, { $yScale(tick) })">
			{#if opts.gridlines !== false}
				<line x2="100%"></line>
			{/if}

			<text y="-4">
        { opts.formatTick ? opts.formatTick(tick) : tick }
      </text>
		</g>
	{/each}

  {#if opts.label}
    <text class="axis-label" x="-{ $padding.left / 4 }" y="{ $height / 2 }" transform="rotate(-90, -{ $padding.left / 4 }, { $height / 2 })">{ opts.label }</text>
  {/if}
</g>

<script>
	export default {
	  namespace: "svg"
	};
</script>
