<div class="chart-figure">
  <div class="label" id="label-{ id }">{ title }</div>

  <figure aria-labelledby="label-{ id }">
    <div class="chart chart-line" ref:chart role="img" title="{ title }"></div>
    <figcaption>
      <slot>Needs caption slot</slot>
    </figcaption>
  </figure>
</div>

<script>
  import LayerCake from "layercake";
  import AxisX from "./_axis-x.svelte.html";
  import AxisY from "./_axis-y.svelte.html";
  import Line from "./_line.svelte.html";
  import { isArray, flatten } from "lodash";

  export default {
    oncreate() {
      let p = this.get();

      // Turn data into array
      p.data = isArray(p.data[0]) ? p.data : [p.data];
      this.set({ data: p.data });

      // Create layer cake store
      const layercake = new LayerCake({
        x: p.x || "year",
        xDomain: p.xDomain,
        y: p.y || "data",
        yDomain: p.yDomain,
        data: p.data,
        flatData: flatten(p.data),
        target: this.refs.chart,
        padding: { top: 5, right: 5, bottom: 50, left: 50 }
      }).svgLayers(
        [
          {
            component: AxisX,
            opts: {
              gridlines: true,
              baseline: true,
              textAnchor: "start",
              label: p.xLabel,
              formatTick: p.formatTick
            }
          },
          {
            component: AxisY,
            opts: {
              gridlines: true,
              label: p.yLabel
            }
          }
        ].concat(
          p.data.map((d, di) => {
            return {
              component: Line,
              opts: {
                data: d,
                identifier: di
              }
            };
          })
        )
      );

      layercake.render();
      this.set({ layercake });
    },

    data() {
      return {
        id: `component-id-${Math.round(Math.random() * 100000)}`,
        title: "Needs title"
      };
    }
  };
</script>
