<div class="chart-figure { figureClass }">
  <div class="label { noLabel ? 'sr-only' : '' }" id="label-{ id }">{ title }</div>

  <figure aria-labelledby="label-{ id }">
    <div class="chart chart-histogram" ref:chart role="img" title="{ title }"></div>
    <figcaption class="{ noCaption ? 'sr-only' : '' }">
      <slot>Needs caption slot</slot>
    </figcaption>
  </figure>
</div>

<script>
  import LayerCake from "layercake";
  import AxisX from "./_axis-x.svelte.html";
  import AxisY from "./_axis-y.svelte.html";
  import Column from "./_column.svelte.html";

  export default {
    oncreate() {
      let p = this.get();

      // Layer cake compoents
      let svgLayers = [];
      if (p.xAxis !== false) {
        svgLayers.push({
          component: AxisX,
          opts: {
            gridlines: true,
            baseline: true,
            textAnchor: "start",
            label: p.xLabel,
            formatTick: p.formatTick
          }
        });
      }
      if (p.yAxis !== false) {
        svgLayers.push({
          component: AxisY,
          opts: {
            gridlines: true,
            label: p.yLabel
          }
        });
      }

      svgLayers.push({
        component: Column,
        opts: {
          isHighlight: p.isHighlight
        }
      });

      // Create layer cake store
      const layercake = new LayerCake({
        x: p.x || ["min", "max"],
        xDomain: p.xDomain,
        y: p.y || "count",
        yDomain: p.yDomain,
        data: p.data,
        target: this.refs.chart,
        padding: p.padding || { top: 10, right: 10, bottom: 50, left: 50 }
      }).svgLayers(svgLayers);

      layercake.render();
      this.set({ layercake });
    },

    data() {
      return {
        id: `component-id-${Math.round(Math.random() * 100000)}`,
        title: "Needs title"
      };
    }
  };
</script>
