<div class="chart-figure">
  <div class="label" id="label-{ id }">{ title }</div>

  <figure aria-labelledby="label-{ id }">
    <div class="chart chart-line" ref:chart role="img" title="{ title }"></div>
    <figcaption>
      <slot>Needs caption slot</slot>
    </figcaption>
  </figure>
</div>

<script>
  import { isNaN } from "lodash";

  /* global d3, c3 */
  export default {
    oncreate() {
      this.drawChart();
    },

    onupdate({ changed, current, previous }) {
      if (changed.data || changed.dataConfig) {
        this.drawChart();
      }
    },

    ondestroy() {
      if (this.get().chart) {
        this.set({ chart: this.get().chart.destroy() });
      }
    },

    methods: {
      drawChart() {
        let chart = this.get().chart;

        if (chart) {
          // Update
          //chart.unload();
          chart.load({
            columns: this.get().dataConfig
              ? this.get().dataConfig.columns
              : [this.get().xData, this.get().yData]
          });

          return;
        }

        chart = c3.generate({
          bindto: this.refs.chart,
          color: {
            pattern: this.get().colors
          },
          padding: {
            right: 10,
            bottom: 5
          },
          data: this.get().dataConfig
            ? this.get().dataConfig
            : {
                x: this.get().xLabel,
                columns: [this.get().xData, this.get().yData]
              },
          point: {
            r: 4
          },
          axis: {
            x: {
              min: this.parseNumber(this.get().xMin),
              max: this.parseNumber(this.get().xMax),
              tick: {
                format: this.get().xTickFormat,
                outer: false
              },
              padding: {
                left: 0,
                right: 0
              }
            },
            y: {
              min: this.parseNumber(this.get().yMin),
              max: this.parseNumber(this.get().yMax),
              padding: 0,
              label: {
                text: this.get().yLabel,
                position: "outer-middle"
              },
              tick: {
                format: this.get().yTickFormat,
                outer: false
              }
            }
          },
          grid: {
            x: {
              show: true
            },
            y: {
              show: true
            }
          },
          legend: {
            show: this.get().hideLegend ? false : true
          },
          tooltip: {
            show: false
          },
          interaction: {
            enabled: this.get().interactive || false
          }
        });
        this.set({ chart });
      },

      parseNumber(input) {
        if (isNaN(parseFloat(input))) {
          return undefined;
        }

        return parseFloat(input);
      }
    },

    computed: {
      xData({ data, xLabel, xProp }) {
        return data ? [xLabel].concat(data.map(d => d[xProp])) : [];
      },
      yData({ data, yLabel, yProp }) {
        return data ? [yLabel].concat(data.map(d => d[yProp])) : [];
      }
    },

    data() {
      return {
        colors: ["#857aaa", "#5bbf48"]
      };
    }
  };
</script>

