<div class="rank-nav">

  <div class="rank-bar-wrapper">
    <div class="rank-bar">
      {#each ranked as r, i (r.id)}
        <div
          on:click="goToPlace(r.id, event)"
          class="ranked-place { isHiglighted(r, highlighted) ? 'highlighted-place' : '' } { i < ranked.length / 2 ? 'left-side' : 'right-side' } { i < ranked.length * 0.25 ? 'far-left-side' : i > ranked.length * 0.75 ?  'far-right-side' : '' }"
          data-place-id="{ r.id }"
        >
          <div class="tooltip-pole">
            <div class="ranked-place-tooltip">
              <div class=""><span class="rank">{ r.rank }</span>: { r.name }</div>
            </div>
          </div>
        </div>
      {/each}
    </div>
  </div>

  <div class="rank-nav-label">Navigate the { ranked.length } communities on the Hot Housing Index</div>

  <div class="rank-nav-buttons">
    <a href="#place-{ ranked[0].id }">
      <i class="material-icons">first_page</i>
      <span>First</span>
    </a>

    {#if (highlightedIndex || highlightedIndex === 0) && highlightedIndex >= 0}
      {#if highlightedIndex !== 0}
        <a href="#place-{ ranked[highlightedIndex - 1].id }">
          <i class="material-icons">keyboard_arrow_up</i>
          <span>Up</span>
        </a>
      {/if}

      {#if highlightedIndex < ranked.length - 1}
        <a href="#place-{ ranked[highlightedIndex + 1].id }">
          <i class="material-icons">keyboard_arrow_down</i>
          <span>Down</span>
        </a>
      {/if}
    {/if}

    <a href="#place-{ ranked[ranked.length - 1].id }">
      <i class="material-icons">last_page</i>
      <span>Last</span>
    </a>
  </div>
</div>

<script>
  import { find, findIndex, orderBy, isObject } from "lodash";

  export default {
    methods: {
      goToPlace(placeId, event) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        if (this.root && this.root.setPlace) {
          this.root.setPlace(placeId);
        }
      }
    },

    helpers: {
      isHiglighted(place, highlighted) {
        if (!highlighted || !place) {
          return;
        }

        return place.id === highlighted.id;
      }
    },

    computed: {
      highlighted({ ranked, highlight }) {
        if (!ranked || !highlight) {
          return;
        }

        return find(ranked, { id: highlight });
      },

      highlightedIndex({ ranked, highlight }) {
        if (!ranked || !highlight) {
          return;
        }

        return findIndex(ranked, { id: highlight });
      }
    }
  };
</script>
